<h4>Email:</h4>
<%= current_user.email %> <br>
<%= "No Current Profile" if !current_user.profile %>
<h4>Edit:</h4>
<%= link_to 'Edit my profile', edit_registration_path(current_user) %>
<% if current_user.profile.admin %>
  <h4>Admin Tools:</h4>
  <%= link_to "Profile Index", profiles_path %>
  <% end %>

