<h4>Email:</h4>
<%= current_user.email %> <br>
<%= "No Current Profile" if !current_user.profile %>
<% if current_user.profile.admin %>
  <h4>Admin Tools:</h4>
  <%= link_to "User Index", profiles_path %>
  <% end %>
