<div class="jumbotron center">
  <h1>Homepage</h1>
  <p class="center">Linker</p>
  <div class="center"><%= link_to 'My Link Clusters', clusters_path, class:"btn btn-default btn-lg"%></div>
</div>
<div class="spacer"></div>
