.page-header {
  margin-top: 10px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.new-link {
  position: relative;
  float: right;
  margin: 10px;
}
nav {
  .navbar-header {
    .navbar-brand {
      text-transform: uppercase;
      font-size: 2em;
      letter-spacing:2px;
      font-weight: bold;
      color: #BA4C2C;
    }
  }
}
footer {
  .site-description {
    padding: 15px;
    color: #8795AF;
  }
}
.cluster-title {
  font-size:1.2em;
  padding: 0;
}

.cluster-settings {
  padding-top:2px;
  a {
    padding: 0;
    padding-right: 10px;
  }
}
.linklist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  li {  
    display: inline;
  }
  .leftlist {
    position: relative;
    float: left;
    .linkshow {
      @extend h4;
      a {
        &:hover, &:active {
          text-decoration: none;
        }
      }
    }
  }
  .rightlist {
    position: relative;
    float: right;
    padding-top: 2px;
  }
}
.linkdescription {
  text-align:right;
  font-style: italic;
}

.center {
  text-align: center;
}
.right {
  position: relative;
  float: right;
}
.left {
  text-align: left;
}
.debug {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  &:hover, &:active {
    text-decoration: none;
  }
}
.checkbox {
  margin-left: 20px;
}
.spacer {
  padding: 5px;
}
