<footer class="footer">
  <div class="container-fluid">
    <ul class="footerlist">
      <div class="lfooter">
        <li>A place for interesting things</li>
      </div>
      <div class="rfooter">
        <li><%= link_to 'about', '/about' %></li>
        <li><%= link_to 'contact', '/contact' %></li>
      </div>
    </ul>
  </div>
</footer>
